* {
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
  display:block;
  padding:0;
  margin:0;
  text-align:center;
  color:rgb(48, 48, 48);
}
body {
  margin:auto;
  align-content:center;
}
nav {
  background-color:rgb(241, 241, 241);
}

main {
  min-height:65vh;
  margin:auto;
}

p {
  font-size:1.4em;
  padding: 5px 10px 5px 10px;
  margin:auto;
}
header {
  background-color:rgb(241, 241, 241);
  margin:auto;
}
header p {
  padding-bottom:20px;
}
a {
  text-decoration:none;
  color:inherit;
  font-size:1.2em;
}


            /*classes*/
.titlename {
display:none;
}

.profilepic {
 padding-top:30px;
}

.profilepic {
  padding-top:30px;
}
.profilepic {
  padding-top:30px;
}
.portfolioh2 {
  margin-top:15px;
  margin-bottom:15px;
}

.portfolioheader {
  margin-top:30px;
  padding-bottom:30px;
  background-color:rgb(255, 255, 255);
}
.portfoliopictures {
  width:100%;
  height:auto;
  border-top:2px solid rgb(218, 218, 218);
  padding-bottom:20px;
}

.portfoliop {
  margin-bottom:20px; 
}


.footercontact {
  font-size:1.2em;
  padding-top:20px;
  padding-bottom:20px;
}

footer {
  background-color:rgb(241, 241, 241);
}

.emailphone {
  margin:15px 0px 30px 15px;
}

.copyright {
  font-size:1.0em;
  color:rgb(110, 110, 110);
  margin-left:0;
  margin-right:auto;
}

.backtotop {
  font-size:1.0em;
  color:rgb(110, 110, 110);
  font-weight:bold;
}
.borderdiv {
  border-top:2px solid rgb(206, 206, 206);
  overflow:hidden;
  font-size:1.0em;
  font-weight:bold;
}

.bottomnav {
  visibility:hidden;
}

.flexbottomnavlinks {
  display:none;
}


        /*ID's*/


#contactphone {
  margin-bottom:20px;
}


             /*flexbox*/


.flexnavigation {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:center;
  background-color:rgb(241, 241, 241);
}

.flexnavigation li {
  background-color: rgb(244, 244, 244);
  width: 250px;
  margin:8px;
}

.flexnavitems {
  flex-grow:1;
}

.flexnavlogo {
  margin:10px 0px 10px 0px;
}

.flexmain {
  display:inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-content:center;
  margin:auto;
}

.flexheader {
  display:flex;
  flex-direction:column;
  margin:auto;
}

.flexheaditems {
  margin:auto;
}


.flexbottomnav {
  display:flex;
  flex-direction:row-reverse;
  align-content:flex-end;
  margin:20px 0px 0px 0px;
}


        /*animations*/


.animationin-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay:1s;
}

@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}


        /* Media 768px */


@media screen and (min-width: 768px) {

nav {
  background-color:rgb(241,241,241);
}

header {
    background-color:rgb(241,241,241);
    font-size:1.2em;
    padding: 10px 0px 40px 10px;
  }


        /*classes*/


.portfoliop {
  margin:0px 10px 0px 10px;
  font-size: 1.2em;
}

.portfoliopictures {
  width:90%;
  padding-bottom:5px;
}

.borderdiv {
  border-top: 2px solid rgb(206, 206, 206);
  margin-top:25px;
}

.backtotop {
  display:none;
}

.bottomnav {
  visibility:visible;
  font-size:1.0em;
  color:rgb(110, 110, 110);
}


        /*flex*/


.flexnavigation {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:space-between;
}

.flexnavigation li {
  background-color:inherit;
  width:auto;
  margin:10px;
}

  .flexnavitems {
    font-size:0.9em;
    margin:0px 20px;
}

.flexnavlinks {
  list-style:none;
  margin-left:auto;
  margin-right:25px;
}
.flexnavlinks li {
  display:inline-block;
}

.flexnavlogo {
  margin-right:auto;
  margin-left:25px;
}

.flexheader {
    display:inline-flex;
    flex-direction:row-reverse;
}

.flexheaditems {
    flex-grow: 1;
}

#flexheaderp {
    margin-top:85px;
    font-size: 1.4em;
    color:rgb(102, 102, 102)
}
  
.flexmain {
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-content:flex-end;
    margin-left:5%;
    margin-right:auto;
}

.flexmainitem {
    flex-grow:1;
    max-width:50%;
    justify-content:stretch;
    align-self:stretch;
    margin:10px 0;
}

.flexbottomnav {
  display:flex;
  flex-direction:row;
  align-content:flex-end;
  margin:20px 0px 0px 0px;
}
.flexbottomnavchild {
  flex-grow:1;
}

.flexbottomnavlinks {
  display:initial;
  list-style:none;
  
}

.flexbottomnavlinks li {
  display:inline-block;
  
}


      /*media 1024*/


@media screen and (min-width:1024px) {

.flexnavigation {
 flex-direction:row;
 align-content:space-between;
}
    
.flexnavlinks {
   list-style:none;
   margin-left:auto;
  }

.flexnavitems {
  margin:0px 20px;
}

.flexnavlinks li {
  display:inline-block;
}

.flexnavlogo {
  margin-right:auto;
}

  .flexmain {
    margin-left:5%;
    margin-right:auto;
}

.flexmainitem {
    max-width:32%;
    margin:10px 0px 10px 0px;
}

} 
}