* {
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
  display:block;
  padding:0;
  margin:0 auto;
  text-align:center;
  color:rgb(48, 48, 48);
}

nav {
  background-color:rgb(241, 241, 241);
}

main {
  min-height:65vh;
}

p {
  font-size:1.4em;
  padding: 5px 10px 5px 10px;
}
header {
  background-color:rgb(241, 241, 241);
}
header p {
  padding-bottom:20px;
}
a {
  text-decoration:none;
  color:inherit;
  font-size:1.2em;
}


            /*classes*/
.headername {
   font-size:1.8em;
   font-weight:bold;
   padding-top:10px;
   padding-bottom:10px;
   background-color:rgb(241, 241, 241);
}

.profilepic {
 padding-top:30px;
}

.profilepic {
  padding-top:30px;
}
.profilepic {
  padding-top:30px;
}
.portfolioh2 {
  margin-top:15px;
  margin-bottom:15px;
}

.portfolioheader {
  margin-top:30px;
  padding-bottom:30px;
  background-color:rgb(255, 255, 255);
}
.portfoliopictures {
  width:100%;
  height:auto;
  border-top:2px solid rgb(218, 218, 218);
  padding-bottom:20px;
}

.portfoliop {
  margin-bottom:20px; 
}


.footercontact {
  font-size:1.2em;
  padding-top:20px;
  padding-bottom:20px;
}

footer {
  background-color:rgb(241, 241, 241);
}

.emailphone {
  margin:15px 0px 30px 15px;
}

.copyright {
  font-size:1.0em;
  color:rgb(110, 110, 110);
  float:left;
  width:60%;
  margin:20px 0px 10px 0px;

}

.backtotop {
  font-size:1.0em;
  color:rgb(110, 110, 110);
  float:right;
  width:40%;
  margin:20px 0px 10px 0px;
  font-weight:bold;
}
.borderdiv {
  border-top:2px solid rgb(206, 206, 206);
  overflow:hidden;
  font-size:1.0em;
  font-weight:bold;
}

.bottomnav {
  visibility:hidden;
}

.bottomnavhide {
  display:none;
}


        /*ID's*/


#contactphone {
  margin-bottom:20px;
}


             /*flexbox*/


.flexnavigation {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  background-color:rgb(241, 241, 241);
  justify-content:center;
}

.flexnavitems {
  flex-grow:1;
  flex-basis:100%;
}

.flexnavigation li {
  background-color: rgb(247, 247, 247);
  width: 85%;
  margin: 5px;
  padding:10px;
}

.flexmain {
  display:inline-flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-content:center;
}


        /*animations*/


.animationin-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay:1s;
}

@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}


        /* Media 768px */


@media screen and (min-width: 768px) {

nav {
  background-color:rgb(241,241,241);
}

header {
    background-color:rgb(241,241,241);
    font-size:1.2em;
    padding: 10px 0px 40px 10px;
  }


        /*classes*/


.headername {
  padding:20px 0px 20px 0px;
}

.portfoliop {
  margin:0px 10px 0px 10px;
  font-size: 1.2em;
}

.portfoliopictures {
  width:90%;
  padding-bottom:5px;
}

.copyright {
  text-align:left;
}

.borderdiv {
  border-top: 2px solid rgb(206, 206, 206);
  margin-top:25px;
}

.backtotop {
  visibility:hidden;
}

.bottomnav {
  visibility:visible;
  font-size:1.0em;
  color:rgb(110, 110, 110);
}

.bottomnavhide {
  display:initial;
}


        /*flex*/


.flexnavigation {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: calc(100% / 2 - 5px);
}

  .flexnavitems {
    font-size:0.9em;
}

.flexnavigation li {
    background-color:inherit;
    width: 85%;
    margin: 5px;
    padding:10px;
}

.flexheader {
    display:inline-flex;
    flex-direction:row-reverse;
}

.flexheaditems {
    flex-grow: 1;
}

#flexheaderp {
    margin-top:85px;
    font-size: 1.4em;
    color:rgb(102, 102, 102)
}
  
.flexmain {
    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin:10px 0px 30px 0px;
}

.flexmainitem {
    flex-grow:1;
    max-width:50%;
    justify-content:stretch;
    align-self:stretch;
}

.flexbottomnav {
  display:flex;
  flex-direction:row;
  margin:20px 0px 10px 0px;
}
.flexbottomnavchild {
  flex-grow:1;
}


      /*media 1024*/


@media screen and (min-width:1024px) {

  .headername {
    float:left;
    margin-left:50px;
  }

  .flexmain {
    margin:0px 0px 50px 0px;
}

.flexmainitem {
    max-width:32%;
    margin:10px 0px 10px 0px;
}

.flexnavigation {
width: calc(100% / 2 - 150px);
}
} 
}