* {
  font-family: 'Open Sans', sans-serif;
  box-sizing:border-box;
  display:block;
  padding:0;
  margin:0 auto;
  text-align:center;
  color:rgb(48, 48, 48);
}
nav {
  background-color:rgb(241, 241, 241);
}

.headername {
   font-size:1.6em;
   padding-top:10px;
   padding-bottom:10px;
}
.profilepic {
  padding-top:30px;
}

p {
  font-size:1.4em;
  padding: 5px 10px 5px 10px;
}
header {
  background-color:rgb(241, 241, 241);
}
header p {
  padding-bottom:20px;
}
a {
  text-decoration:none;
  color:inherit;
  font-size:1.2em;
}

.portfolioh2 {
  margin-top:15px;
  margin-bottom:15px;
}

.portfolioheader {
  margin-top:30px;
  margin-bottom:30px;
}
.portfoliopictures {
  width:100%;
  height:auto;
  border-top:2px solid rgb(218, 218, 218);
  padding-bottom:20px;
}

.portfoliop {
  margin-bottom:20px; 
}


.footercontact {
  font-size:1.6em;
  padding-top:20px;
  padding-bottom:20px;
}

footer {
  background-color:rgb(223, 223, 223);
  border-top:4px solid rgb(199, 199, 199);
}

.emailphone {
  margin:15px 0px 10px 15px;
}

.backtotop {
  background: linear-gradient(90deg, rgba(205,205,205,1) 0%, rgba(227,227,227,1) 12%, rgba(227,227,227,1) 48%, rgba(231,231,231,1) 87%, rgba(203,203,203,1) 100%);
  font-weight:bold;
  font-size:1.2em;
  padding:10px 5px 10px 5px;
  width:70%;
  border-radius:10px;
  margin-top:20px;
  margin-bottom:30px;

}

.copyright {
  font-size:1.2em;
}

    /*flexbox*/

.flexnavigation {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:center;
  align-content:center;
  background-color:rgb(241, 241, 241);
}

.flexnavitems {
  flex-grow:1;
  flex-basis:100%;
}
.flexnavigation li {
  background-color: rgb(247, 247, 247);
  width: 85%;
  margin: 5px;
  padding:10px;
}
.flexmain {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items:center;
  align-content:center;
  background-color:rgb(241, 241, 241);
}
/* Media */








    /*animations*/

.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}

@-webkit-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}

